#score-container{
    text-align: center;
    margin-top: 10%;
    color: black;
}

#main-container{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5%;
}
#start-button{
    margin-top:2%;
    font-size: 20px;
    border-radius: 8px;
    background-color: darkslateblue;
    color:white
}
.header1{
    margin-bottom: 25px;
    
}
.header1,.header2{
    text-align: center;
    margin-left: 25%; 
    margin-right: 25%;
    font-weight: 700;
}

.answer{
    border-radius: 8px;
    background-color: darkslateblue;
    color:white;
    font-size:15px;
    display:inline-block;
    
    
}
.answer:hover{
    background: lightblue;
}
.all-done{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
}
.final-score{
    font-weight: 600;
    margin-bottom: 25px;
}
.fname{
    margin:15px;
    font-size: 20px;
    display:inline-block;
    border-radius: 8px;
    padding: 0px 0px;
    background-color: lightsteelblue; 
}
#submit-button{
    border-radius: 8px;
    background-color: darkslateblue;
    color:white;
    font-size:20px;
    display:inline-block;
}

.initial-miss{
font-size: 15px;
color:red;
}

#scoreContainer{
    font-size: 20px;
    font-weight: 600;
    /* margin-bottom: 20px; */
    background-color: lightpink;
}
.GO-Back , .clear{
    margin:15px;
    display:inline-block;
    border-radius: 8px;
    background-color: darkslateblue;
    color:white

}
